<h1>{{ title }}</h1>

<app-card>
  <ng-container title>
    <h2>Bienvenu sur mon pokedex</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur facere pariatur officiis voluptatibus perspiciatis est iusto doloribus maxime nostrum porro praesentium, excepturi possimus deleniti omnis ipsam, expedita officia tenetur accusantium!</p>
  </ng-container>
</app-card>

<app-poke-list></app-poke-list>

<!--
  <app-alert message="str"></app-alert>
  <app-alert>str</app-alert>
  <app-errors [errors]="form.errors"></app-errors>
  <app-alert>{{ pokemon?.name }} deleted</app-alert>
  <app-alert [message]="pokemon?.name + ' deleted'"></app-alert>
-->
